* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}

/* your header parent of all your menu is start here */
nav {
    background: black;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
}

label.logo {
    line-height: 80px;
    font-size: 1.5rem;
    padding: 0 100px; 
    font-weight: 100px; 
    background-image: url(images/logo\ -\ tulisan.png);
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; 
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 100px;
}

a.active, a:hover {
    background: white;
    transition: 0.5s;
    color: black; 
}
/* owh yah! we've made cool navbar!  */

/* what's next? let's create a hamburger icon!! this is will appear when your user have a small screen */
.check-btn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;   
    /* if you want to look it how the design, make sure your display to be set block */
    display: none;
}

#check {
    display: none; 
}

/* owh yeah we done to make a hamburger icon!! great jobs! But, is we finished yet? no bro! be patient. */

/* our next step is creat a media query, this is will make a responsible website in many different wide screen */

/* this media screen is tablet or as known as medium screen */
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px; 
    }
    
    nav ul li a {
        font-size: 16px; 
    }
}

/* this media screen for the smallest */
@media (max-width: 858px) {
    .check-btn {
        /* yeaaa!! your hamburger-icon will appear at this width screen! congratulation! */
        display: block;
    }
    
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        color: white;
        top: 80px;
        /* margin-left: -100% mean that you will hiding this element until the user click the button (hamburger-icon) */
        margin-left: -100%;
        text-align: center; 
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active,a:hover {
        background: none;
        color: white; 
    } 

    /* when the user clicked the button (hamburge-icon), the <ul> element or our menu elemenet will show up in the screen and user will see it. cool! */
    #check:checked ~ ul {
        margin-left: 0; 
    }
} 

/* god damn it!! we've made a crazy effect to our hamburger-icon. The users will not struggle anymore using our web! but , did we done yet? no, we didn't */ 

/* this design if for our carousal  */
section {
    background: url(images/1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px); 
    margin-top: 80px;
}